* {
    padding: 0;
    margin: 0;
}

h5 {
    padding: 10px 6%;
    background: #ff9000;
    line-height: 2.5rem;
    font-size: 1.6rem;
    position: relative;
    text-align: center;
    color: #fffefe;
    img {
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;
        margin-top: -18px;
        left: 6%;
        border-radius: 100%;
    }
    .add {
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        right: 6%;
        top: 50%;
        margin-top: -18px;
        background: url(../images/add.png) no-repeat;
        background-position: 20px center;
        background-size: 15px 15px;
    }
}

.content {
    padding: 0 6%;
    margin-top: 15px;
    .platform {
        width: 157px;
        height: 37px;
        border: 1px solid #019bd7;
        margin: 0 auto;
        text-align: center;
        font-style: 1.6rem;
        color: #019bd7;
        line-height: 39px;
    }
    .seat {
        ul{
            margin: 0 auto;
            position: relative;
            &:after{
                content: "过道";
                width: 20px;
                line-height: 40px;
                display: block;
                position: absolute;
                top: 50%;
                margin-top: -40px;
                left: 50%;
                margin-left: -10px;
                text-align: center;
            color: #019bd7;
                
            }
        }
        margin-top: 30px;
        margin-bottom: 80px;
        li {
            display: inline-block;
            width:100/7%;
            text-align: center;
            margin-bottom: 10px;
        }
        li:nth-child(6n-3) {
            margin-right: 60/7%;
        }
        .number {
            display: block;
            width: 33px;
            margin: 0 auto;
            line-height: 20px;
            font-size: 12px;
            color: #019bd7;
            text-align: center;
            padding-bottom: 13px;
            background: url(../images/seat.png) no-repeat center;
            background-size: 33px 33px;
            margin-bottom: 4px;
        }
        .name {
            font-size: 12px;
            color: #019bd7;
        }
    }
    p {
        font-size: 1.4rem;
        color: #333333;
        line-height: 2.5rem;
        margin-bottom: 5px;
    }
    p:last-child {
        margin-bottom: 20px;
    }
}

// @media screen and (min-width: 321px) and (max-width: 375px) {
//     .content {
//         .seat {
//             margin-top: 30px;
//             margin-bottom: 80px;
//             li {
//                 display: inline-block;
//                 width: 48px;
//                 text-align: center;
//                 margin-bottom: 10px;
//             }
//             li:nth-child(6n-3) {
//                 margin-right: 25px;
//             }
//             .number {
//                 display: block;
//                 width: 33px;
//                 margin: 0 auto;
//                 line-height: 20px;
//                 font-size: 12px;
//                 color: #019bd7;
//                 text-align: center;
//                 padding-bottom: 13px;
//                 background: url(../images/seat.png) no-repeat center;
//                 background-size: 33px 33px;
//                 margin-bottom: 4px;
//             }
//             .name {
//                 font-size: 12px;
//                 color: #019bd7;
//             }
//         }
//     }
// }

// @media screen and (min-width: 376px) and (max-width: 414px) {
//     .content {
//         .seat {
//             margin-top: 30px;
//             margin-bottom: 80px;
//             li {
//                 display: inline-block;
//                 width: 54px;
//                 text-align: center;
//                 margin-bottom: 10px;
//             }
//             li:nth-child(6n-3) {
//                 margin-right: 25px;
//             }
//             .number {
//                 display: block;
//                 width: 33px;
//                 margin: 0 auto;
//                 line-height: 20px;
//                 font-size: 12px;
//                 color: #019bd7;
//                 text-align: center;
//                 padding-bottom: 13px;
//                 background: url(../images/seat.png) no-repeat center;
//                 background-size: 33px 33px;
//                 margin-bottom: 4px;
//             }
//             .name {
//                 font-size: 12px;
//                 color: #019bd7;
//             }
//         }
//     }
// }

// @media screen and (min-width: 415px) and (max-width: 639px) {
//     .content {
//         .seat {
//             margin-top: 30px;
//             margin-bottom: 80px;
//             li {
//                 display: inline-block;
//                 width: 53px;
//                 text-align: center;
//                 margin-bottom: 10px;
//             }
//             li:nth-child(6n-3) {
//                 margin-right: 25px;
//             }
//         }
//     }
// }

// @media screen and (min-width: 640px) and (max-width: 719px) {
//     .content {
//         .seat {
//             margin-top: 30px;
//             margin-bottom: 80px;
//             li {
//                 display: inline-block;
//                 width: 73px;
//                 text-align: center;
//                 margin-bottom: 10px;
//             }
//             li:nth-child(6n-3) {
//                 margin-right: 25px;
//             }
//         }
//     }
// }

// @media screen and (min-width: 720px) and (max-width: 749px) {
//     .content {
//         .seat {
//             margin-top: 30px;
//             margin-bottom: 80px;
//             li {
//                 display: inline-block;
//                 width: 82px;
//                 text-align: center;
//                 margin-bottom: 10px;
//             }
//             li:nth-child(6n-3) {
//                 margin-right: 25px;
//             }
//         }
//     }
// }

// @media screen and (min-width: 750px) and (max-width: 799px) {
//     .content {
//         .seat {
//             margin-top: 30px;
//             margin-bottom: 80px;
//             li {
//                 display: inline-block;
//                 width: 88px;
//                 text-align: center;
//                 margin-bottom: 10px;
//             }
//             li:nth-child(6n-3) {
//                 margin-right: 25px;
//             }
//         }
//     }
// }

